.Container{
    width: 343px;
    height: auto;
    background-color: white;
    margin: 16px auto 46px;
    padding: 18px;
    border-radius: 5px;
}

.Container .Container__title{
    width: 122px;
    height: 28px;
    margin-bottom: 24px;
}

.Container .Container__content1{
    width: 288px;
    height: 104px;
    display: flex;
    margin-bottom: 20px;
}

.Container .Container__content1 .Container__content1__img-left{
    width: 96px;
    height: 96px;
}

.Container .Container__content1 .Container__content1__paragraph .Container__content1__paragraph-1{
    display: flex;
    align-items: center;
    width: 190px;
    height: 23px;
    margin-left: 8.2px;
    margin-bottom: 3px;
}

.Container .Container__content1 .Container__content1__paragraph .Container__content1__paragraph-1 img{
    width: 17px;
    height: 23px;
}

.Container .Container__content1 .Container__content1__paragraph .Container__content1__paragraph-1 span{
    width: 190px;
    height: 19px;
    font-size: 12px;
    color: #49839D;
    margin-left: 4px;
}

.Container .Container__content1 .Container__content1__paragraph .Container__content1__paragraph-1 .change-color{
    color: #777777;
    font-weight: 600;
    margin-left: 0;
}

.Container .Container__content1 .Container__content1__paragraph .Container__content1__paragraph-2{
    width: 181px;
    height: 16px;
    font-size: 10.27px;
    margin-left: 10px;
    color: #49839D;
    padding-bottom: 25px;
}

.Container .Container__content1 .Container__content1__paragraph .Container__content1__paragraph-2 li{
    padding-top: 9px;
    font-weight: 500;
}

.Container .Container__content1 .Container__content1__paragraph .Container__content1__paragraph-2 img{
    width: 11.83px;
    height: 9.09px;
    margin-right: 4px;
}

.Container .Container__content1 .Container__content1__paragraph .Container__content1__paragraph-2 .change-color{
    color: #777777;
    font-weight: 600;
}

.Container .Container__content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 8px;
}

.Container .Container__content2 .Container__content2__arrow{
    width: 311px;
    height: 60px;
    background-image: url(/public/img/First-content-arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8px;
    cursor: pointer;
}

.Container .Container__content2 .Container__content2__arrow img{
    width: 12px;
    height: 16px;
    margin-right: 10px;
}

.Container .Container__content2 .Container__content2__arrow button{
    padding-left: 28px;
    font-weight: bold;
    width: 240px;
    height: 48px;
    background-color: #FF8C50;
    border: 0px;
    color: white;
    cursor: pointer;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    margin-top: 16px;
}




