.heading{
    width: 375px;
    display: flex;
    flex-direction: column;

    .heading__title{
        display: flex;
        align-items: flex-end;
        position: fixed;
        position: sticky;
        top: 0; /* no space above header */
        width: 100%;
        max-width: 376px;
        min-width: 376px;
        height: 44px;
        background-color: #83BDD3;
        padding: 11px 8.5px;
        z-index: 2; /* Bring to front because z-index swiper = 1 */
    
        img{
            width: 12px;
            height: 20px;
        }
        
        h2{
            font-family: SF Pro Text;
            font-size: 17px;
            color:#FFFFFF;
            display: block;
            margin: 0 auto;
        }
    }

    .heading__image{
        width: 375px;
        height: 180px;
        margin-top: 1px;
    }
}



