.Container2{
    width: 100%;
    height: auto;
    background-color: white;
}

.Container2 .Container2__content .Container2__content__heading{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container2 .Container2__content .Container2__content__heading img{
    width: 214px;
    height: 48px;
    margin: 10px auto;
}

.Container2 .Container2__content .Container2__content__heading hr{
    width: 343px;
    border-color: #C4C4C4;
}

.Container2 .Container2__content .Container2__content__text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.Container2 .Container2__content .Container2__content__text .Container2__content__text--left img{
    width: 146px;
    height: auto;
    margin: 0 7px;
}

.Container2 .Container2__content .Container2__content__text .Container2__content__text--right img{
    width: 198px;
    height: auto;
}

.Container2 .Container2__content .Container2__content__text .Container2__content__text--right .Container2__content__text--right1{
    width: 150px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.Container2 .Container2__content .Container2__content__arrow{
    width: 342px;
    height: 75px;
    background-image: url(/public/img/First-content-arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% auto 0;
    cursor: pointer;
}

.Container2 .Container2__content .Container2__content__list{
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: SF Pro Text;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #49839D;
}

.Container2 .Container2__content .Container2__content__list li{
    padding-top: 10px;
    font-weight: 600;
}

.Container2 .Container2__content .Container2__content__list .change-color{
    color: #777777;
    font-weight: 600;
}

.Container2 .Container2__content .Container2__content__message{
    display: flex;
    justify-content: flex-end;
    margin: auto 30px;
}

.Container2 .Container2__content .Container2__content__message img{
    width: 18px;
    height: 16px;
    margin: 0 50px;
}

.Container2 .Container2__content .Container2__content__message span{
    font-family: SF Pro Text;
    font-size: 16px;
    color: #FF8C50;
    text-decoration: underline;
    cursor: pointer;
}