*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.App{
    background-color: #F5F5F5;
    max-width: 100%;
    width: 377px;
    height: auto;
    border: 1px solid #C4C4C4;
}

//Edit Swiper using !important
.swiper-button-next::after, .swiper-button-prev::after {
    color: #FF8C50!important; 
    font-size: 20px !important;
    width: 5px;
    height: 19px;
}

.swiper-button-next {
    padding-left: 30px !important;
}

.swiper-button-prev{
    padding-right: 30px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #FF8C50;
}


.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    margin-top: 16px;
}
    











